/* Everything */
* {
    font-family: "Roberto", sans-serif;
    font-weight: 100;
    padding: 0px;
    margin: 0px;
    --primary: #778f72;
    --secondary: #b9c8b5;
    --accent: #9ab495;
    --background: #f9faf9;
    --text: #070707
}

/* header */
.header {
    background-color: var(--primary);
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 75px;
    padding-right: 75px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
input {
    width: 450px;
    height: 35px;
    border: solid transparent;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
}

/* recipe */
.lower {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    grid-template-rows: 1fr .75fr;
    margin: 75px;
    gap: 15px;
}
/* .lower div {
    padding: 30px;
} */
.description {
    /* height: 45vh; */
    border: solid var(--accent);
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 30px;
    border-radius: 15px;
}
.descriptionP {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.description h1{
    font-size: 48px;
}

.description h2 {
    font-size: 32px;
}

.description p {
    font-size: 24px;
    line-height: 35px;
}

.interactSvgs {
    display: flex;
    justify-content: space-between;
}

.interactSvgs div {
    display: flex;
    gap: 8px;
}
.interactSvgs div p:hover {
    text-decoration: underline;
}
.interactSvgs div:hover {
    cursor: pointer;
}

.img img {
    aspect-ratio: 1/1;
}
.img {
    border: solid var(--accent);
    border-radius: 15px;
}

.ingredients,
.steps {
    border: solid var(--accent);
    background-color: var(--secondary);
    border-radius: 15px;
    padding: 45px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ingredients ul,
.steps ol {
    padding-left: 35px;
    line-height: 35px;
}
.ingredients h3,
.steps h3 {
    font-size: 32px;
}
/* Return to Main Page */
.footer {
    background-color: var(--accent);
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    text-decoration: none;
    font-size: 20px;
    color: white
}

#main:hover {
    text-decoration: underline;
}
