/* Everything */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:transparent;
}

/* title and image center */

h1 {
    color: #6b705c;
    font-size: 72px;
    text-align: center;
    padding: 10px;
    background: #b7b7a4;
    height: 80px;
    width: 350px;
    margin-top: 120px;
    margin-left: 45px;
    position: absolute;
    border-radius: 12px
}

.img {
    text-align: right;
   margin: 20px;
}

/* Description */
.description {
    background: #b7b7a4;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
}

h2 {
    color:  white;
    font-size: 38px;
    background: transparent;
}

p {
    color: #6b705c;
    font-size: 24px;
    background: transparent;
}


/* List and headings */
h3 {
    color:  white;
    font-size: 32px;
}

li {
    color: #6b705c;
    font-size: 20px;
}

/* Ingredients */
.ingredients {
    background: #b7b7a4;
    margin: 20px;
    padding: 20px;
    border-radius: 12px
}

/* Steps */
.steps {
    background: #b7b7a4;
    margin: 20px;
    padding: 20px;
    border-radius: 12px

}
/* Return to Main Page */

#main {
    /* color: #BBA0B2; */
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
a {
    color: #6b705c;
}
a:hover {
    color:  #b7b7a4;
}
a:clicked {
    color:  #6b705c;
}
