/* Everything */

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:white
}
/* Title + Subtitle */
.title {
    text-align: center;
    background:  #b7b7a4;
    padding: 10px;
    margin: 30px;

}

h1 {
    color: white;
    font-size: 72px;
    background: transparent;
}

/* color: #e0bed5   ffc6ed */
h2 {
    color: white;
    font-size: 32px;
    margin-top: -35px;
    margin-bottom: 40px;
    background:  transparent;

}



/* Link customization */
a {
    text-decoration: none;
    color: white;
}

a:visited {
    color:  white;
}

a:link {
    color:  #BBA0B2;
}

a:hover {
    color:  rgb(255, 243, 185);
}

/* Recipe names */
.name {
    font-size: 32px;
    padding: 50px;
    text-align: center;
    background: #6b705c;
    margin: 30px;
    margin-top: -20px;
}

.individual {
    padding: 85px;
    background:  transparent;

}
